body{
	margin:0;
	background-color: "white";
}
.main-icon
{
	width: 12rem;
	height: 8rem;
	padding: 8px;

	display: block;

	
}
.main
{
	height: 100vh;

}

.heading
{
	display: flex;
	align-items: flex-start;

}
.main-container
{
	display: flex;
	width: 90%;
	flex-direction: row-reverse;
	background-color: aqua;
	padding: 24px;
}
@media only screen and (max-width: 600px) {
   .heading
   {
	   flex-wrap: wrap-reverse;
	   justify-content: center;
	   align-items: center;
   }	
  }